<div class="container">
  <div class="formulario">
    <h2>Log in</h2>
    <form action="/login" method="POST" >
      <div class="mb-3">
        <label for="input1" class="form-label">Usuario</label>
        <input type="text" name="username" class="form-control" id="input1">
      </div>
      <div class="mb-3">
        <label for="input2" class="form-label">Contraseña</label>
        <input type="text" name="password" class="form-control" id="input2">
      </div>
      <div class="d-grid gap-2 btncontainer">
        <button type="submit" class="btn btn-primary">Log in</button>
      </div>
    </form>
      <form action="/registro" method="GET" >
          <div class="d-grid gap-2 btncontainer">
        <button type="submit" class="btn btn-primary">Registrarse</button>
      </div>
    </form>
  </div>
</div>
